.about{
    background: url(../images/11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;    
}
.div1{
    padding: 10px 10px 10px 10px;
    color:black;
    text-shadow: 2px 2px 5px;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;       
}
.div1 font{
    color: rgb(204, 55, 29);
}
#motto{
    margin: 20px auto 0 auto;
    font-size: 2rem;
    color:purple;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    padding: 20px 20px;   
}

.div2{
width: 90vw;
height:30vw;
display: flex;
align-items: center;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 5%;   
}
.div3{
    padding: 10px 10px 10px 10px;
    color:black;
    margin: 20px auto 0 auto;
    font-size: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}
.div4{
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}
.sp{
    padding: 40px 50px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-bottom: 15px;
    text-align: justify;
    box-shadow: 2px 2px 6px 0px rgb(158, 184, 224);
    border-radius: 20px;
    background-color:navajowhite;
    transition: transform .3s;

}

.div9{
    width:40vw;
    height:15vw;
    background-position: center;
    background-size: cover;
}
.div10{
text-align: left;
padding: 40px 50px;
font-size: 16px;
margin-bottom: 20px;
margin-bottom: 15px;
text-align: justify;
}

.grid{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: bottom 0.5px;;
    flex: 0 0 auto;
}

.gb{
    width: 30vw;
    height: 20vw;
}
.sm{
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.hp{
    display: flex;
    gap: 2rem;
}
.img{
    margin-bottom: 50px;
}
@media screen and (max-width:767px)
{
    
    
    
    
}