.d11{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    background-color: cornsilk;
}
.flexbox-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
.flexbox-item{
    width:200px;
    margin: 10px;
    border: 3px solid #333;
    background:rgb(255, 255, 255);
    border-top: 5px solid #0e3721;
    border-radius:45px ;
    align-items: center;
    justify-content: center;
}
.flexbox-item-1{
    min-height: 100px;
    text-align: center;
    display: flex;
    flex:1;
    
}
.flexbox-item-2{
    min-height: 200px;
    text-align: center;
    display: flex;
    flex:1;
}
.flexbox-item-3{
    min-height: 300px;
    text-align: center;
    display: flex;
    flex:1;
}
.large{
   font-size: 200px;

}
.contact{
    background-color: cyan;
    background-image: url('../images/pic1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bold{
    font-weight: bolder;
    font-style: oblique;
    font-size: large;
}
.d22{
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(212, 28, 28);
    background-color: aliceblue;
}
.large1{
    font-size: 175px;
 
 }
 .largerr{
    font-size: 190px;
 
 }